@import 'bourbon/bourbon';
@import 'neat/neat';

/***********************************
    Margins and Paddings and Borders
************************************/

$max-width: 960px;

$header-text-block-margin: 2em;
$header-p-padding-top: 1em;
$header-p-padding-left: 6em;

$tagline-line-height: 1em;
$tagline-margin-top: 1.6em;
$tagline-margin-left: 1.5em;

$main-content-border: 1px solid #441F00; //dark brown
$main-content-border-color: #441F00; //dark brown


/**********************************
    Fonts
***********************************/
// font-family: 'Abril Fatface', cursive;
@import url(http://fonts.googleapis.com/css?family=Droid+Serif|Abril+Fatface|Rancho);
// 'Droid Serif', serif;
// 'Abril Fatface', cursive;
// 'Rancho', cursive;

// .tk-tekton-pro
  //regular, oblique, bold, bold
  // Typekit Kit ID: xbo0ody

$name-font-family: 'Droid Serif, serif';
$header-p-font-family: arial, sanserif;
$tagline-font-family: $header-p-font-family;

$header-name-size: 4em;
$header-subtitle-size: 2.5em;


$primary-color: navy;
$secondary-color: gold;
 //$background-color: #B1AF96;

$background-color: #E5E5E5;
 //#441F00; //dark brown
$name-font-color: #441F00;
// #EB8C00; gold
$subtitle-color: $name-font-color;
$header-p-color: #441F00;
// #5C5C5C; softer brown

$tagline-color: #D7E098; //flower yellow
//#B4C61D; light green
// #ffD700; yellow


/*****************************************
    Basic Styling
*****************************************/

body {
  margin: 0 auto;
  width: 90%;
  height: 2000px;
  background-color: $background-color;
}

ul, li, a {
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.invisible {
  display: none;
}

.header {
  position: relative;
  margin: 0;
  height: 600px;
  //background: url('../images/flower-transparent-bg.png') center center no-repeat;
  background-size: cover;
  z-index: 0;
}

.header-bg {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('../images/flower-transparent-bg.png') right bottom no-repeat;
  background-size: cover;
  z-index: -1;
}

.flower-color {
  background: RGBA(2, 124, 219, 1);
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  text-align: right;
  z-index: -10;
}


.live-flower {
  position: absolute;
  //display: none;
  background: rgba(229, 229, 229, 0.7);
  background: url(../images/sunflower-bg-flower-only.png) no-repeat;
  background-position: right bottom;
  //calc(50% + 1em);
  background-size: cover;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
}

.grow {
  //animation-duration: 3s;
  //animation-name: grow;
  //animation-iteration-count: 1;

  -webkit-transform: translateY(50px);
}

/*
@keyframes grow {
  from {
    -webkit-transform: translateX
    Y(0);
  }
  to {
  -webkit-transform: translateY(-100px);
  }
}
*/

.header-overlay {
  background: rgba(255, 255, 255, 0);
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  text-align: right;
  z-index: 50;
}

.flower-text {
  margin: 0;
  padding: 0;
  font-family: 'Rancho', cursive;
  font-size: 2em;
  color: RGBA(95, 58, 0, 1);
}

.composite-text {
  text-align: center;
  margin-bottom: -0.4em;
  padding-right: 3em;
}

.disk-text,
.disk2-text {
  padding-right: 0.5em;
}

.disk-text {
  margin-top: 0;
  margin-bottom: -0.3em;
  padding-right: 0.8em;
}

.disk2-text {
  margin: 0;
  padding-top: 0;
}

.left-arrow {
  position: absolute;
  right: 12%;
  width: 165px;
  height: 120px;
  background: url(../images/left-arrow-dark-brown.gif) no-repeat center center;
  background-size: cover;
}

.ray-text {
  text-align: left;
  margin-top: 2em;
  margin-bottom: -0.2em;
}

.right-arrow {
  position: absolute;
  left: 18%;
  width: 57px;
  height: 33px;
  background: url(../images/right-arrow-dark-brown.gif) no-repeat center center;
  background-size: cover;
}

.sunflower-info {
  background: rgba(229, 229, 229, 0.7);
  position: absolute;
  display: none;
  bottom: 30px;
  right: 440px;
  width: 23%;
  height: 28%;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border: 3px solid RGBA(95, 58, 0, 1);
  z-index: 50;
}

.sunflower-info-headline,
.sunflower-subtitle-text,
.sunflower-p {
  margin: 0;
  padding: 0;
  color: RGBA(95, 58, 0, 1);
  text-align: center;
}

.sunflower-info-headline {
  font-family: Georgia, sans-serif;
  font-size: 1.5em;
  padding-top: 0.2em;
}

.sunflower-subtitle-text {
  font-family: cursive;
  font-size: 1.2em;
}

.sunflower-p {
  font-family: arial, sans-serif;
  font-size: 0.9em;
}

.name-text {
  margin: 0;
  font-family: $name-font-family;
  font-size: $header-name-size;
  color: $name-font-color;
}

.header-subtitle {
  margin: 0;
  font-family: helvetica, sans-serif;
  font-size: $header-subtitle-size;
  color: $subtitle-color;
}

.header-text-block {
  margin-top: $header-text-block-margin;
  margin-left: $header-text-block-margin;
}

.header-p-text {
  position: relative;
  margin-left: $header-p-padding-left;
  padding-top: $header-p-padding-top;
  //padding-left: $header-p-padding-left;
  font-family: $header-p-font-family;
  font-size: 1.2em;
  color: $header-p-color;
  width: 50%;
  z-index: 60;
}

.communicate {
  padding-left: 1em;
}

.inspire {
  padding-left: 2em;
}

.interact {
  padding-left: 3em;
}

.respond {
  padding-left: 4em;
}

.tagline-text {
  margin-top: $tagline-margin-top;
  margin-left: $tagline-margin-left;
  font-family: $tagline-font-family;
  color: $tagline-color;
  line-height: $tagline-line-height;
}


/******************************************
    Nav
******************************************/
.nav {
  //position: absolute;
  //bottom: -2em;
  //left: 0;
  margin: 0 auto;
  width: $max-width;
  display: block;
  height: 2em;
  //border-color: $main-content-border-color;
  border: $main-content-border;
  border-top: none;
  border-bottom: none;
  //background-color: #EB8C00;
}

.nav:before,
.nav:after {
  content: "";
  display: table;
}

.nav:after {
  clear: both;
}

.nav {
  zoom: 1;
}

.btn-wrapper {
  position: relative;
  top: -30px;
  width: 40%;
  margin: 0 auto;
}

.nav-btn {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #A75600;
}

.btn-wrapper button:nth-child(2) {
  position: absolute;
  top: 0;
  left: 30%;
}

.btn-wrapper button:nth-child(3) {
  position: absolute;
  top: 0;
  right: 30%;
}

.btn-wrapper button:last-child {
  position: absolute;
  top: 0;
  right: 0;
}

/******************************************
    Main Content
********************************************/

.main-content-wrapper {
  @include outer-container;
  height: 800px;
  border: $main-content-border;
  border-top: none;
}

.content-headline,
.neat-block {
  @include span-columns(4);
}

.content-headline {
    text-align: center;
}

.neat-last {
  @include omega();
}

.skills-text {
  text-align: center;
}


.phone-btn,
.email-btn {
  display: block;
  margin: 0 auto;
}

.samples-ul li {
  position: relative;
  width: 90%;
  height: 150px;
  margin-top: 0.5em;
  border: 1px solid black;
}

/******************************************
    Start Bio Section
******************************************/
.author-img {
  display: block;
  margin: 0 auto;
  width: 80%;
  border-radius: 1em;
  border: 3px solid $main-content-border-color;
}
.start-quotation-span {
  margin-left: -35px;
}

.tabs {
  margin: 0;
  padding: 0;
}

.tabs li:nth-child(2) {
  margin-left: 1em;
}

.tabs li:nth-child(3) {
  margin-left: 2em;
}

.tabs li:nth-child(4) {
  margin-left: 3em;
}

.tabs li:nth-child(5) {
  margin-left: 1em;
}

.tabs li:nth-child(6) {
  margin-left: 2em;
}

/***********************************
    Samples Section
***********************************/

.sample-icon,
.icon-bw,
.toggle-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
}

.icon-bw {
  z-index: 20;
}

.sample-icon {
  z-index: 1;
}

.icon-info {
  position: absolute;
  //display: none;
  bottom: 0;
  left: 5%;
  color: red;
  background-color: rgba(229, 229, 229, 0.8);
  width: 90%;
  height: 60%;
  border-radius: 10px;
  z-index: 40;
}

.toggle-cover {
  z-index: 50;
  background-color: none;
}

.overlay-heading {
  margin: 10px 0;
  font-size: 1em;
  text-align: center;
}

.overlay-p-text {
  margin-top: -0.5em;
  font-family: cursive;
  font-size: 0.8em;
  font-weight: 800;
  text-align: center;
  line-height: 1.2em;
}

.food-icon {
  background: url('../images/food-icon.png') no-repeat;
}

.food-icon-bw {
  background: url('../images/food-icon-bw.png') no-repeat;
}

.surf-icon {
  background: url('../images/surf-and-paddle.png') no-repeat;
}

.surf-icon-bw {
  background: url('../images/surf-and-paddle-bw.png') no-repeat;
}




