@import url(http://fonts.googleapis.com/css?family=Droid+Serif|Abril+Fatface|Rancho|Roboto:500,900italic,300,400);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/***********************************
    Margins and Paddings and Borders
************************************/
/**********************************
    Fonts
***********************************/
/*****************************************
    Basic Styling
*****************************************/
html {
  margin: 0;
  padding: 0; }

body {
  margin: 0 auto;
  width: 90%;
  background: url("../images/sand-bg.png") repeat;
  font: 'Roboto';
  font-size: 1.2em; }

ul, li, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

.invisible {
  display: none; }

.header {
  position: relative;
  top: 0;
  left: 0;
  height: 600px;
  z-index: 0; }

.header-bg {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../images/flower-transparent-bg.png") right bottom no-repeat;
  background-size: cover;
  z-index: -1; }

.flower-color {
  background: RGBA(2, 124, 219, 1);
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  text-align: right;
  z-index: -10; }

.live-flower {
  position: absolute;
  background: rgba(229, 229, 229, 0.7);
  background: url(../images/sunflower-bg-flower-only.png) no-repeat;
  background-position: right bottom;
  background-size: cover;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 40; }

.grow {
  -webkit-transform: translateY(50px); }

/*
@keyframes grow {
  from {
    -webkit-transform: translateX
    Y(0);
  }
  to {
  -webkit-transform: translateY(-100px);
  }
}
*/
.header-overlay {
  background: rgba(255, 255, 255, 0);
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  text-align: right;
  z-index: 50; }

.flower-text {
  margin: 0;
  padding: 0;
  font-family: 'Rancho', cursive;
  font-size: 2em;
  color: RGBA(95, 58, 0, 1); }

.composite-text {
  text-align: center;
  margin-bottom: -0.4em;
  padding-right: 3em; }

.disk-text,
.disk2-text {
  padding-right: 0.5em; }

.disk-text {
  margin-top: 0;
  margin-bottom: -0.3em;
  padding-right: 0.8em; }

.disk2-text {
  margin: 0;
  padding-top: 0; }

.left-arrow {
  position: absolute;
  right: 12%;
  width: 165px;
  height: 120px;
  background: url(../images/left-arrow-dark-brown.gif) no-repeat center center;
  background-size: cover; }

.ray-text {
  text-align: left;
  margin-top: 2em;
  margin-bottom: -0.2em; }

.right-arrow {
  position: absolute;
  left: 18%;
  width: 57px;
  height: 33px;
  background: url(../images/right-arrow-dark-brown.gif) no-repeat center center;
  background-size: cover; }

.sunflower-info {
  background: rgba(229, 229, 229, 0.7);
  position: absolute;
  display: none;
  bottom: 30px;
  right: 440px;
  width: 23%;
  height: 28%;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border: 3px solid RGBA(95, 58, 0, 1);
  z-index: 50; }

.sunflower-info-headline,
.sunflower-subtitle-text,
.sunflower-p {
  margin: 0;
  padding: 0;
  color: RGBA(95, 58, 0, 1);
  text-align: center; }

.sunflower-info-headline {
  font-family: Georgia, sans-serif;
  font-size: 1.1em;
  padding-top: 0.2em; }

.sunflower-subtitle-text {
  font-family: cursive;
  font-size: 1em; }

.sunflower-p {
  font-family: arial, sans-serif;
  font-size: 0.8em; }

/**************************************
    Main Headline
**************************************/
.name-text {
  padding-top: 3%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Droid Serif, serif";
  font-size: 4em;
  color: #441F00; }

.header-subtitle {
  position: relative;
  margin: 0;
  font-family: helvetica, sans-serif;
  font-size: 2.5em;
  color: #441F00;
  z-index: 60; }

.header-text-block {
  padding-left: 3%; }

.header-p-text {
  position: relative;
  margin-left: 6em;
  padding-top: 1em;
  font-family: arial, sanserif;
  font-size: 1.2em;
  color: #441F00;
  width: 50%;
  z-index: 60; }

img {
  margin: 0;
  padding: 0;
  vertical-align: middle; }

.text-highlight {
  vertical-align: middle; }

.communicate {
  padding-left: 1em; }

.inspire {
  padding-left: 2em; }

.interact {
  margin-left: 3em; }

.respond {
  padding-left: 4em; }

.tagline-text {
  margin-top: 1.6em;
  margin-left: 1.5em;
  font-family: arial, sanserif;
  color: #D7E098;
  line-height: 1em; }

/******************************************
    Nav
******************************************/
.nav {
  margin: 0 auto;
  width: 960px;
  display: block;
  height: 2em;
  border: 1px solid #441F00;
  border-top: none;
  border-bottom: none; }

.nav:before,
.nav:after {
  content: "";
  display: table; }

.nav:after {
  clear: both; }

.nav {
  zoom: 1; }

.btn-wrapper {
  position: relative;
  top: -30px;
  width: 40%;
  margin: 0 auto; }

.nav-btn {
  width: 60px;
  height: 60px;
  border-radius: 100%; }

.btn-wrapper li:nth-child(2) {
  position: absolute;
  top: 0;
  left: 30%; }

.btn-wrapper li:nth-child(3) {
  position: absolute;
  top: 0;
  right: 30%; }

.btn-wrapper li:last-child {
  position: absolute;
  top: 0;
  right: 0; }

.github-btn {
  background: url(../images/buttons/github-icon.png) no-repeat center center;
  background-size: contain; }

.linkedin-btn {
  background: url(../images/buttons/linkedin-icon-1.png) no-repeat center center;
  background-size: contain; }

.twitter-btn {
  background: url(../images/buttons/twitter-2-icon.png) no-repeat center center;
  background-size: contain; }

.wordpress-btn {
  background: url(../images/buttons/wordpress-icon.png) no-repeat center center;
  background-size: contain; }

/******************************************
    Main Content
********************************************/
.main-content-wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #441F00;
  border-top: none; }
  .main-content-wrapper::after {
    clear: both;
    content: "";
    display: table; }

.skill-wrapper {
  text-align: center; }

.content-p {
  font-family: 'Roboto';
  font-size: 1em;
  line-height: 1.2em; }

.skills-text,
.bio-wrapper {
  padding: 2.35765% 0.1em 2.35765% 0.1em; }

.content-headline,
.neat-block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin: 0.3em; }
  .content-headline:last-child,
  .neat-block:last-child {
    margin-right: 0; }

.neat-sub3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  height: 50px;
  font-size: 1.2em;
  line-height: 50px;
  border: 1px solid black; }
  .neat-sub3:last-child {
    margin-right: 0; }

.content-headline {
  text-align: center; }

.neat-last {
  margin-right: 0; }

.skills-text {
  text-align: center; }

.phone-btn,
.email-btn {
  display: block;
  margin: 0 auto; }

/******************************************
    Start Bio Section
******************************************/
.author-img {
  float: left;
  margin-top: 0;
  margin-bottom: 1em;
  width: 28%;
  padding: 0.5em;
  border-radius: 1em;
  border: 3px solid #441F00; }

.content-p {
  float: right;
  margin-top: 0;
  margin-bottom: 0.5em;
  padding-right: 0.5em;
  width: 70%; }

.start-quotation-span {
  margin-left: -25px; }

.blockquote {
  float: left;
  margin-left: 1em;
  margin-right: 0;
  padding-right: 0;
  width: 25%;
  font-family: 'Roboto';
  font-size: 1.1em;
  font-weight: 900;
  font-style: italic; }

.second-p {
  margin-bottom: 0; }

.third-p {
  float: right;
  width: 70%;
  margin-top: 0;
  padding-top: 0; }

.tabs {
  margin: 0;
  padding: 0; }

.tabs li:nth-child(2) {
  margin-left: 1em; }

.tabs li:nth-child(3) {
  margin-left: 2em; }

.tabs li:nth-child(4) {
  margin-left: 3em; }

.tabs li:nth-child(5) {
  margin-left: 1em; }

.tabs li:nth-child(6) {
  margin-left: 2em; }

/***********************************
    Projects Section
***********************************/
.neat-sub4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .neat-sub4:last-child {
    margin-right: 0; }

.project {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  position: relative;
  display: inline-block;
  height: 150px;
  margin-top: 0.5em;
  border: 1px solid black; }
  .project:last-child {
    margin-right: 0; }

.samples-ul li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  position: relative;
  display: inline-block;
  height: 150px;
  margin-top: 0.5em;
  border: 1px solid black; }
  .samples-ul li:last-child {
    margin-right: 0; }

.neat-last {
  margin-right: 0; }

.sample-icon,
.icon-bw,
.toggle-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px; }

.icon-bw {
  z-index: 20; }

.sample-icon {
  z-index: 1; }

.icon-info {
  position: absolute;
  bottom: 0;
  left: 5%;
  color: #FF3D56;
  background-color: rgba(229, 229, 229, 0.8);
  width: 90%;
  height: 60%;
  font-size: 0.8em;
  line-height: 1em;
  border-radius: 10px;
  z-index: 40; }

.toggle-cover {
  z-index: 50;
  background-color: none; }

.overlay-heading {
  margin: 10px 0;
  font-size: 1em;
  text-align: center; }

.overlay-p-text {
  margin-top: -0.5em;
  font-family: cursive;
  font-size: 0.8em;
  font-weight: 800;
  text-align: center;
  line-height: 1.2em; }

.food-icon {
  background: url("../images/food-icon.png") no-repeat;
  background-size: cover; }

.food-icon-bw {
  background: url("../images/food-icon-bw.png") no-repeat;
  background-size: cover; }

.surf-icon {
  background: url("../images/surf-and-paddle.png") no-repeat;
  background-size: cover; }

.surf-icon-bw {
  background: url("../images/surf-and-paddle-bw.png") no-repeat;
  background-size: cover; }

/*# sourceMappingURL=main.css.map */
