@import 'bourbon/bourbon';
@import 'neat/neat';

/***********************************
    Margins and Paddings and Borders
************************************/

$max-width: 960px;

$header-text-block-margin: 3%;
$header-name-margin-top: 2em;
$header-p-margin-top: 0;
$header-p-padding-top: 1em;
$header-p-padding-left: 3em;
$header-padding-bottom-xlarge: 6em;
$header-padding-bottom-large: 1em;
$header-padding-bottom-small: 0;

$tagline-line-height: 1em;
$tagline-margin-top: 1.6em;
$tagline-margin-left: 1.5em;

$main-content-border: 1px solid #441F00; //dark brown
$main-content-border-color: #441F00; //dark brown


/**********************************
    Fonts
***********************************/
// font-family: 'Abril Fatface', cursive;
@import url(http://fonts.googleapis.com/css?family=Droid+Serif|Abril+Fatface|Rancho|Roboto:500,900italic,300,400|Fredericka+the+Great|Mystery+Quest|Lily+Script+One|Cherry+Swash|Lemon|Lobster);
// 'Droid Serif', serif;
// 'Abril Fatface', cursive;
// 'Rancho', cursive;


$body-font: 'Roboto', sans-serif;
$name-font-family: 'Droid Serif, serif';
$header-p-font-family: arial, sanserif;
$tagline-font-family: $name-font-family;

$header-name-size: 3em; //4
$header-subtitle-size: 1.5em; //2.2

$header-p-font-size: 1em;

$header-tagline-size: 1em;


$primary-color: navy;
$secondary-color: gold;
 //$background-color: #B1AF96;

$background-color: #E5E5E5;
 //#441F00; //dark brown
$name-font-color: #441F00;
// #EB8C00; gold
$subtitle-color: $name-font-color;
$header-p-color: #441F00;
// #5C5C5C; softer brown
$highlight-text-color: #FF3D56;

$tagline-color: #D7E098; //flower yellow
//#B4C61D; light green
// #ffD700; yellow


/*****************************************
    Basic Styling
*****************************************/
html {
  margin: 0;
  padding: 0;
}

body {
  margin-top: -14px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  margin-bottom: 3em;
  width: 90%;
  //height: 3000px;
  //background-color: $background-color;
  background: url('../images/wild_flowers.png')repeat;
  //sand-bg.png, grey_sandbag.png, wild_flowers.png
  font: 'Roboto';
  font-size: 1.2em;
}

ul, li, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.invisible {
  display: none;
}


.header-wrap {
  margin: 0 auto;
  display: block;
  position: relative;
  max-width: 1200px;
  padding-bottom: 50%;
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  //padding-bottom: $header-padding-bottom-xlarge;
  //margin: -2em;
  width: 100%;
  height: 100%;
  /*
  background-image: url(../images/sunflower-bg-no-sky.png);

  background-image: url('../images/flower-transparent-bg.png');
  */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 50;
}

.header-bg {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('../images/flower-transparent-bg.png') right bottom no-repeat;
  background-size: cover;
  z-index: -1;
}


.flower-color {
  background: RGBA(2, 124, 219, 1);
  position: absolute;
  //display: none;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 95%;
  text-align: right;
  z-index: -10;
}


.live-flower {
  position: absolute;
  //display: none;
  //background: rgba(229, 229, 229, 0.7);
  background: url(../images/sunflower-bg-flower-only.png) no-repeat;
  background-position: right bottom;
  //calc(50% + 1em);
  background-size: cover;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.grow {
  //animation-duration: 3s;
  //animation-name: grow;
  //animation-iteration-count: 1;

  -webkit-transform: translateY(50px);
}

/*
@keyframes grow {
  from {
    -webkit-transform: translateX
    Y(0);
  }
  to {
  -webkit-transform: translateY(-100px);
  }
}
*/

.header-overlay {
  background: rgba(255, 255, 255, 0);
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  text-align: right;
  z-index: 50;
}

.flower-text {
  margin: 0;
  padding: 0;
  font-family: 'Rancho', cursive;
  font-size: 2em;
  color: RGBA(95, 58, 0, 1);
}

.composite-text {
  text-align: center;
  margin-bottom: -0.4em;
  padding-right: 3em;
}

.disk-text,
.disk2-text {
  padding-right: 0.5em;
}

.disk-text {
  margin-top: 0;
  margin-bottom: -0.3em;
  padding-right: 0.8em;
}

.disk2-text {
  margin: 0;
  padding-top: 0;
}

.left-arrow {
  position: absolute;
  right: 12%;
  width: 165px;
  height: 120px;
  background: url(../images/left-arrow-dark-brown.gif) no-repeat center center;
  background-size: cover;
}

.ray-text {
  text-align: left;
  margin-top: 1em;
  margin-bottom: -0.2em;
}

.right-arrow {
  position: absolute;
  left: 18%;
  width: 57px;
  height: 33px;
  background: url(../images/right-arrow-dark-brown.gif) no-repeat center center;
  background-size: cover;
}

.sunflower-info {
  background: rgba(229, 229, 229, 0.7);
  position: absolute;
  display: none;
  bottom: 30px;
  right: 440px;
  width: 23%;
  height: 30%;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border: 3px solid RGBA(95, 58, 0, 1);
  z-index: 50;
}

.sunflower-info-headline,
.sunflower-subtitle-text,
.sunflower-p {
  margin: 0;
  padding: 0;
  color: RGBA(95, 58, 0, 1);
  text-align: center;
}

.sunflower-info-headline {
  font-family: Georgia, sans-serif;
  font-size: 1.1em;
  padding-top: 0.2em;
}

.sunflower-subtitle-text {
  font-family: cursive;
  font-size: 1em;
}

.sunflower-p {
  font-family: arial, sans-serif;
  font-size: 0.8em;
}

/**************************************
    Main Headline
**************************************/

.name-text {
  padding-top: $header-text-block-margin;
  //margin-top pushes entire header down, gap
  margin-top: 0;
  margin-bottom: 0;
  font-family: $name-font-family;
  font-size: $header-name-size;
  color: $name-font-color;
}

.header-subtitle {
  position: relative;
  margin: 0;
  font-family: helvetica, sans-serif;
  font-size: $header-subtitle-size;
  color: $subtitle-color;
  z-index: 60;
}

.header-text-block {
  position: relative;
  top: 0;
  left: 0;
  //padding-top: $header-text-block-margin;
  padding-left: $header-text-block-margin;
}

.header-p-text {
  position: relative;
  margin-top: $header-p-margin-top;
  margin-left: $header-p-padding-left;
  padding-top: $header-p-padding-top;
  //padding-left: $header-p-padding-left;
  font-family: $header-p-font-family;
  font-size: $header-p-font-size;
  color: $header-p-color;
  width: 50%;
  z-index: 60;
}

img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.text-highlight {
  vertical-align: middle;
  //font-family: 'Vast Shadow';
  //font-family: 'Fredericka the Great';
  //font-family: 'Mystery Quest';

  //font-family: 'Lemon';
  //font-family: 'Cherry Swash';
  font-family: 'Lily Script One';
  //font-family: 'Lobster';
  //line-height: 48px;
  //text-transform: all-caps;;
}

.communicate {
  padding-left: 1em;
}

.inspire {
  padding-left: 2em;
}

.interact {
  margin-left: 3em;

}

.respond {
  padding-left: 4em;
}

.tagline-text {
  margin-top: $tagline-margin-top;
  margin-left: $tagline-margin-left;
  font-family: $tagline-font-family;
  font-size: $header-tagline-size;
  color: $tagline-color;
  line-height: $tagline-line-height;
}


/******************************************
    Nav
******************************************/
.nav {
  //position: absolute;
  //bottom: -2em;
  //left: 0;
  margin: 0 auto;
  width: $max-width;
  display: block;
  height: 2em;
  //border-color: $main-content-border-color;
  border: $main-content-border;
  border-top: none;
  border-bottom: none;
  //background-color: #EB8C00;
}

.nav:before,
.nav:after {
  content: "";
  display: table;
}

.nav:after {
  clear: both;
}

.nav {
  zoom: 1;
}

.btn-wrapper {
  position: relative;
  top: -30px;
  width: 40%;
  margin: 0 auto;
  z-index: 100;
}

.nav-btn {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  //background-color: #A75600;
}

.btn-wrapper li:nth-child(2) {
  position: absolute;
  top: 0;
  left: 30%;
}

.btn-wrapper li:nth-child(3) {
  position: absolute;
  top: 0;
  right: 30%;
}

.btn-wrapper li:last-child {
  position: absolute;
  top: 0;
  right: 0;
}

.github-btn {
  background: url(../images/buttons/github-icon.png) no-repeat center center;
  background-size: contain;
}

.linkedin-btn {
  background: url(../images/buttons/linkedin-icon-1.png) no-repeat center center;
  background-size: contain;
}

.twitter-btn {
  background: url(../images/buttons/twitter-2-icon.png) no-repeat center center;
  background-size: contain;
}

.wordpress-btn {
  background: url(../images/buttons/wordpress-icon.png) no-repeat center center;
  background-size: contain;
}



/******************************************
    Main Content
********************************************/

.main-content-wrapper {
  @include outer-container;
  //height: 800px;
  border: $main-content-border;
  border-top: none;
}

.skill-wrapper {
  text-align: center;
}

.content-p {
  font-family: 'Roboto';
  font-size: 1em;
  line-height: 1.2em;
}

.skills-text,
.bio-wrapper {
  @include pad(default 0.1em default 0.1em);
}


.content-headline,
.neat-block {
  @include span-columns(12);
  margin: 0.3em;
}

.neat-sub3 {
  @include span-columns(3);
  height: 50px;
  font-size: 1.2em;
  line-height: 50px;
  //border: 1px solid black;
}

.content-headline {
    text-align: center;
}

.neat-last {
  @include omega();
}

.skills-text {
  text-align: center;
}


.phone-btn,
.email-btn {
  display: block;
  margin: 0 auto;
}

/******************************************
    Start Bio Section
******************************************/
.author-img-wrap {
  float:left;
  width: 29%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.author-img {
  margin: 0 auto;
  width: 90%;
  border-radius: 1em;
  border: 3px solid $main-content-border-color;
}

.blockquote {
  padding: 0;
  margin-top: 0.5em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  font-family: 'Roboto';
  font-size: 1.1em;
  font-weight: 900;
  font-style: italic;
}

.bio-text {
  float:right;
  margin-top: 0;
  margin-bottom: 0.5em;
  padding-right: 0.5em;
  width: 70%;
}

.second-p {
  margin-bottom: 0;
}

.third-p {
  float: right;
  width: 70%;
  margin-top: 0;
  padding-top: 0;
}

.fourth-p {
  clear: both;
  width: 100%;
}


.tabs {
  float: right;
  margin: 0;
  padding-right: 5em;
}

.tabs li:nth-child(2) {
  margin-left: 1em;
}

.tabs li:nth-child(3) {
  margin-left: 2em;
}

.tabs li:nth-child(4) {
  margin-left: 3em;
}

.tabs li:nth-child(5) {
  margin-left: 1em;
}

.tabs li:nth-child(6) {
  margin-left: 2em;
}

/***********************************
    Projects Section
***********************************/
.neat-sub4 {
  @include span-columns(4);
}

.project {
  @include span-columns(4);
  position: relative;
  display: inline-block;
  //width: 90%;
  height: 150px;
  margin-top: 0.5em;
  border: 1px solid black;
}

.samples-ul li {
  @include span-columns(4);
  position: relative;
  display: inline-block;
  //width: 90%;
  height: 150px;
  margin-top: 0.5em;
  border: 1px solid black;
}

.neat-last {
  @include omega();
}

.sample-icon,
.icon-bw,
.toggle-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
}

.icon-bw {
  z-index: 20;
}

.sample-icon {
  z-index: 1;
}

.icon-info {
  position: absolute;
  //display: none;
  bottom: 0;
  left: 5%;
  color: $highlight-text-color;
  background-color: rgba(229, 229, 229, 0.8);
  width: 90%;
  height: 60%;
  font-size: 0.8em;
  line-height: 1em;
  border-radius: 10px;
  z-index: 40;
}

.toggle-cover {
  z-index: 50;
  background-color: none;
}

.overlay-heading {
  margin: 10px 0;
  font-size: 1em;
  text-align: center;
}

.overlay-p-text {
  margin-top: -0.5em;
  font-family: cursive;
  font-size: 0.8em;
  font-weight: 800;
  text-align: center;
  line-height: 1.2em;
}

.food-icon {
  background: url('../images/food-icon.png') no-repeat;
  background-size: cover;
}

.food-icon-bw {
  background: url('../images/food-icon-bw.png') no-repeat;
  background-size: cover;
}

.surf-icon {
  background: url('../images/surf-and-paddle.png') no-repeat;
  background-size: cover;
}

.surf-icon-bw {
  background: url('../images/surf-and-paddle-bw.png') no-repeat;
  background-size: cover;
}

.github-icon {
  background: url('../images/github-icon.png') no-repeat;
  background-size: cover;
}

.github-icon-bw {
  background: url('../images/github-icon-bw.png') no-repeat;
  background-size: cover;
}

/***********************************
    Media Queries
***********************************/

/*
@media screen only and (min-width: 1375px) {
  .header {
    padding-bottom: $header-padding-bottom-xlarge;
    border: 3px solid green;
  }
}

@media screen only and (max-width: 1374px) and
  (min-width: 1060px) {
  .header {
  padding-bottom: 0;
  border: 1px solid red;
  }
  }
  */




