@import url(http://fonts.googleapis.com/css?family=Droid+Serif|Abril+Fatface|Rancho|Roboto:500,900italic,300,400|Fredericka+the+Great|Mystery+Quest|Lily+Script+One|Cherry+Swash|Lemon|Lobster|Open+Sans+Condensed:300,700|Open+Sans:700italic,400);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*
// needs latest Compass, add '@import "compass"' to your scss
@include filter-gradient(#007db9e8, #0872da, horizontal); // IE6-9
@include background-image(linear-gradient(left,  rgba(125,185,232,0) 1%,rgba(125,185,232,0.33) 26%,rgba(20,121,219,1) 77%,rgba(8,114,218,1) 83%));
*/
/***********************************
    Margins and Paddings and Borders
************************************/
/**********************************
   Colors
***********************************/
/**********************************
    Fonts
***********************************/
/*****************************************
    Basic Styling
*****************************************/
html {
  margin: 0;
  padding: 0; }

body {
  margin-top: -14px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  margin-bottom: 3em;
  width: 100%;
  min-height: 100%;
  height: 100%;
  background: url("../images/wild_flowers.png") repeat; }

ul, li, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

/*
h1 {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
}
h3 {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.3999996185303px;
}
p, li, a {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
.blockquote {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714302062988px;
}
*/
/*
p, li {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
*/
p, li, a {
  font-family: 'Open-Sans', Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.7;
  orphans: 2;
  widows: 2; }

h1, h2 {
  font-family: "Open Sans Condensed", Verdana, Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding: 0;
  white-space: normal;
  word-wrap: break-word;
  orphans: 2;
  widows: 2; }

h2 {
  font-size: 2em;
  line-height: 1.2; }

h1 {
  font-size: 3em;
  line-height: 1.1; }

span {
  font-family: "Open Sans Condensed" Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.2;
  font-weight: 700;
  font-style: italic; }

.invisible {
  display: none; }

/*****************************************
    Layout
*****************************************/
.skillSet-wrap,
.projects-wrap,
.contact-wrap {
  width: 100%;
  margin: 0 auto;
  padding: 1em; }

.skillSet-wrap {
  position: relative;
  background: rgba(140, 92, 0, 0.3); }

.projects-wrap {
  background: rgba(242, 183, 0, 0.3); }

.contact-wrap {
  background: rgba(90, 114, 0, 0.3); }

.neat-block {
  position: relative;
  z-index: 10; }

/*****************************************
    Header
*****************************************/
.main-nav {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 1;
  font-wieght: 700;
  position: fixed;
  z-index: 100; }

.main-nav li {
  display: inline-block;
  width: 5em;
  padding: 0.5em;
  border-radius: 5px;
  text-align: center; }

.header-wrap {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 50%; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  height: 100%;
  /*
  background-image: url(../images/sunflower-bg-no-sky.png);

  background-image: url('../images/flower-transparent-bg.png');
  */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 50; }

.header-bg {
  background: url("../images/flower-transparent-bg.png");
  z-index: -1; }

.live-flower {
  background: url(../images/sunflower-bg-flower-only.png);
  z-index: 30; }

.header-bg,
.live-flower {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  right: 0;
  bottom: 0;
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat; }

.flower-color {
  background: RGBA(2, 124, 219, 1);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 95%;
  text-align: right;
  z-index: -10; }

.grow {
  -webkit-transform: translateY(50px); }

/*
@keyframes grow {
  from {
    -webkit-transform: translateX
    Y(0);
  }
  to {
  -webkit-transform: translateY(-100px);
  }
}
*/
.header-overlay {
  background: rgba(255, 255, 255, 0);
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  text-align: right;
  z-index: 50; }

.flower-text {
  margin: 0;
  padding: 0;
  font-family: 'Rancho', cursive;
  font-size: 2em;
  color: RGBA(95, 58, 0, 1); }

.composite-text {
  text-align: center;
  margin-bottom: -0.4em;
  padding-right: 3em; }

.disk-text,
.disk2-text {
  padding-right: 0.5em; }

.disk-text {
  margin-top: 0;
  margin-bottom: -0.3em;
  padding-right: 0.8em; }

.disk2-text {
  margin: 0;
  padding-top: 0; }

.left-arrow {
  position: absolute;
  right: 12%;
  width: 165px;
  height: 120px;
  background: url(../images/left-arrow-dark-brown.gif) no-repeat center center;
  background-size: cover; }

.ray-text {
  text-align: left;
  margin-top: 1em;
  margin-bottom: -0.2em; }

.right-arrow {
  position: absolute;
  left: 18%;
  width: 57px;
  height: 33px;
  background: url(../images/right-arrow-dark-brown.gif) no-repeat center center;
  background-size: cover; }

.sunflower-info {
  background: rgba(229, 229, 229, 0.7);
  position: absolute;
  display: none;
  bottom: 30px;
  right: 440px;
  width: 23%;
  height: 30%;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border: 3px solid RGBA(95, 58, 0, 1);
  z-index: 50; }

.sunflower-info-headline,
.sunflower-subtitle-text,
.sunflower-p {
  margin: 0;
  padding: 0;
  color: RGBA(95, 58, 0, 1);
  text-align: center; }

.sunflower-info-headline {
  font-family: Georgia, sans-serif;
  font-size: 1.1em;
  padding-top: 0.2em; }

.sunflower-subtitle-text {
  font-family: cursive;
  font-size: 1em; }

.sunflower-p {
  font-family: arial, sans-serif;
  font-size: 0.8em; }

/**************************************
    Main Headline
**************************************/
.name-text {
  padding-top: 3%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Droid Serif, serif";
  font-size: 5em;
  color: #441F00; }

.header-subtitle {
  position: relative;
  margin: 0;
  font-family: helvetica, sans-serif;
  font-size: 2.5em;
  color: #441F00;
  z-index: 60; }

.header-text-block {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 2em;
  margin-left: 8%; }

.header-p-text {
  position: relative;
  margin-top: 0;
  margin-left: 15%;
  padding-top: 1em;
  color: #441F00;
  width: 50%;
  z-index: 60; }

img {
  margin: 0;
  padding: 0;
  vertical-align: middle; }

.text-highlight {
  vertical-align: middle;
  font-family: 'Lily Script One';
  font-size: 1em;
  line-height: 0.8em; }

.communicate {
  padding-left: 1em; }

.inspire {
  padding-left: 2em; }

.interact {
  margin-left: 3em; }

.respond {
  padding-left: 4em; }

.tagline-text {
  margin-top: 1.6em;
  margin-left: 8%;
  font-family: "Droid Serif, serif";
  font-size: 1em;
  color: #D7E098;
  line-height: 1em; }

/******************************************
    Nav
******************************************/
.nav {
  margin: 0 auto;
  width: 3000px;
  display: block;
  height: 2em;
  border: 1px solid #441F00;
  border-top: none;
  border-bottom: none; }

.nav:before,
.nav:after {
  content: "";
  display: table; }

.nav:after {
  clear: both; }

.nav {
  zoom: 1; }

.btn-wrapper {
  position: relative;
  top: -30px;
  width: 40%;
  margin: 0 auto;
  z-index: 100; }

.nav-btn {
  width: 60px;
  height: 60px;
  border-radius: 100%; }

.btn-wrapper li:nth-child(2) {
  position: absolute;
  top: 0;
  left: 30%; }

.btn-wrapper li:nth-child(3) {
  position: absolute;
  top: 0;
  right: 30%; }

.btn-wrapper li:last-child {
  position: absolute;
  top: 0;
  right: 0; }

.github-btn {
  background: url(../images/buttons/github-icon.png) no-repeat center center;
  background-size: contain; }

.linkedin-btn {
  background: url(../images/buttons/linkedin-icon-1.png) no-repeat center center;
  background-size: contain; }

.twitter-btn {
  background: url(../images/buttons/twitter-2-icon.png) no-repeat center center;
  background-size: contain; }

.wordpress-btn {
  background: url(../images/buttons/wordpress-icon.png) no-repeat center center;
  background-size: contain; }

/******************************************
    Main Content
********************************************/
.main-content-wrapper {
  max-width: 3000px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #441F00;
  border-top: none; }
  .main-content-wrapper::after {
    clear: both;
    content: "";
    display: table; }

.skill-wrapper {
  text-align: center; }

.skills-text,
.bio-wrapper {
  padding: 2.35765% 0.1em 2.35765% 0.1em; }

.skill-comment {
  margin: 0;
  padding: 0;
  color: #441F00; }

.neat-block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center; }
  .neat-block:last-child {
    margin-right: 0; }

.content-headline {
  margin: 0;
  margin-bottom: 0.5em;
  color: #441F00;
  text-align: center; }

.neat-sub3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  height: 150px;
  margin-bottom: 0.5em;
  color: #441F00; }
  .neat-sub3:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .neat-sub3 {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 22.316%; }
      .neat-sub3:last-child {
        margin-right: 0; } }

.html5 {
  background: url("../images/icons/html5.png") no-repeat bottom center;
  background-size: cover; }

.css3 {
  background: url("../images/icons/css3.png");
  background-size: 80%; }

.javascript {
  background: url("../images/icons/javascript.gif");
  background-size: 80%; }

.jquery {
  background: url("../images/icons/jQuery.png");
  background-size: 80%; }

.underscore {
  background: url("../images/icons/underscore.png");
  background-size: 80%; }

.backbone {
  background: url("../images/icons/backbone.png");
  background-size: 80%; }

.ember {
  background: url("../images/icons/ember.png");
  background-size: 80%; }

.sass {
  background: url("../images/icons/sass.png");
  background-size: 80%; }

.bourbon {
  background: url("../images/icons/bourbon.png");
  background-size: 80%; }

.neat-icon {
  background: url("../images/icons/neat.png");
  background-size: 80%; }

.adobe {
  background: url("../images/icons/adobe.png");
  background-size: 80%; }

.github {
  background: url("../images/icons/Octocat.png");
  background-size: 80%; }

@media screen and (max-width: 768px) {
  .jquery-li,
  .sass-li,
  .github-li {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 15.84234%;
    margin-right: 0; }
    .jquery-li:last-child,
    .sass-li:last-child,
    .github-li:last-child {
      margin-right: 0; } }

.icon-inner {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid #441F00;
  border-radius: 10px; }
  @media screen and (max-width: 768px) {
    .icon-inner {
      width: 70px;
      height: 70px; } }

.skill-icon {
  border-radius: 5%;
  background-repeat: no-repeat;
  background-position: center center; }

.icon-text {
  margin: 0 auto;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .icon-text {
      font-size: 0.8em; } }

@media screen and (max-width: 480px) {
  .too-long {
    overflow: hidden; } }

.neat-last {
  margin-right: 0; }

.skills-text {
  text-align: center;
  color: #441F00; }

@media screen and (max-width: 768px) {
  .spacer {
    display: none; } }

.phone-btn,
.email-btn {
  display: block;
  margin: 0 auto; }

/******************************************
    Start Bio Section
******************************************/
.contact-wrap {
  margin: 0 auto;
  padding: 0 10%; }
  @media screen and (max-width: 850px) {
    .contact-wrap {
      padding: 0 5%;
      font-size: 0.8em;
      line-height: 1.5; } }

.bio-wrapper {
  max-width: 850px;
  margin: 0 auto; }

.author-img-wrap {
  float: left;
  width: 29%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.author-img {
  margin: 0 auto;
  width: 90%;
  border-radius: 1em;
  border: 3px solid #441F00; }

/*
.blockquote {
  padding: 0;
  margin-top: 0.5em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
 // font-family: 'Roboto';
 // font-size: 1.1em;
  //font-weight: 900;
  //font-style: italic;
}
*/
.bio-text {
  float: left;
  margin-top: 0;
  margin-bottom: 0.5em;
  width: 70%;
  max-width: 800px; }

.second-p {
  margin-bottom: 0; }

.third-p {
  float: left;
  width: 70%;
  margin-top: 0.1em;
  padding-top: 0; }

.fourth-p {
  margin: 0 auto;
  clear: both;
  width: 100%;
  text-align: center; }

.tabs {
  float: left;
  margin: 0;
  padding-right: 5em; }

.tabs li:nth-child(2) {
  margin-left: 1em; }

.tabs li:nth-child(3) {
  margin-left: 2em; }

.tabs li:nth-child(4) {
  margin-left: 3em; }

.tabs li:nth-child(5) {
  margin-left: 1em; }

.tabs li:nth-child(6) {
  margin-left: 2em; }

/***********************************
    Projects Section
***********************************/
.neat12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .neat12:last-child {
    margin-right: 0; }

.neat-sub4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .neat-sub4:last-child {
    margin-right: 0; }

.project {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  position: relative;
  display: inline-block;
  height: 530px;
  margin-top: 0.5em; }
  .project:last-child {
    margin-right: 0; }

.samples-ul li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  position: relative;
  display: inline-block;
  height: 530px;
  margin-top: 0.5em; }
  .samples-ul li:last-child {
    margin-right: 0; }

.neat-last {
  margin-right: 0; }

.sample-icon,
.icon-bw,
.toggle-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 530px; }

.icon-bw {
  z-index: 1; }

.sample-icon {
  z-index: 20; }

.icon-info {
  position: absolute;
  top: 1em;
  left: 5%;
  padding: 1.5em;
  color: #FF3D56;
  background-color: rgba(229, 229, 229, 0.8);
  width: 90%;
  border-radius: 10px;
  z-index: 40; }

.toggle-cover {
  z-index: 50;
  background-color: none; }

.overlay-heading {
  margin: 10px 0;
  text-align: center;
  color: RGBA(2, 115, 215, 1); }

.overlay-p-text {
  margin-top: -0.5em;
  text-align: center;
  color: RGBA(2, 115, 215, 1); }

ul.overlay-desc-text li {
  list-style-type: square;
  list-style-position: outside;
  margin-left: 15%;
  color: #441F00; }

.food-icon {
  background: url("../images/food.png") no-repeat;
  background-size: cover; }

.food-icon-bw {
  background: url("../images/food-bw.png") no-repeat;
  background-size: cover; }

.food-toggle-cover {
  border-width: 0;
  border-style: solid;
  border-color: RGBA(242, 183, 0, 1);
  box-shadow-color: RGBA(242, 183, 0, 1); }

.surf-icon {
  background: url("../images/surf-icon.png") no-repeat;
  background-size: cover; }

.surf-icon-bw {
  background: url("../images/surf-and-paddle-bw.png") no-repeat;
  background-size: cover; }

.github-icon {
  background: url("../images/github-icon.png") no-repeat;
  background-size: cover; }

.github-icon-bw {
  background: url("../images/github-icon-bw.png") no-repeat;
  background-size: cover; }

.projects-link-wrap {
  position: relative; }

.live-link,
.code-link {
  margin-top: 1em;
  z-index: 51; }

.live-link {
  float: left;
  margin-left: 1.5em; }

.code-link {
  float: right;
  margin-right: 1.5em; }

.project-btn {
  border: solid 0px #000000;
  border-radius: 5px;
  moz-border-radius: 5px;
  -webkit-box-shadow: 0px 3px 6px #5c5c5c;
  -moz-box-shadow: 0px 3px 6px #5c5c5c;
  box-shadow: 0px 3px 6px #5c5c5c;
  font-size: 20px;
  color: #ffffff;
  padding: 1px 17px;
  background: #49ccfc;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #49ccfc), color-stop(100%, #0273d7));
  background: -moz-linear-gradient(top, #49ccfc 0%, #0273d7 100%);
  background: -webkit-linear-gradient(top, #49ccfc 0%, #0273d7 100%);
  background: -o-linear-gradient(top, #49ccfc 0%, #0273d7 100%);
  background: -ms-linear-gradient(top, #49ccfc 0%, #0273d7 100%);
  background: linear-gradient(top, #49ccfc 0%, #0273d7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49ccfc', endColorstr='#0273d7',GradientType=0 ); }

.project-btn {
  -webkit-box-shadow: 0px 3px 6px #5c5c5c;
  -moz-box-shadow: 0px 3px 6px #5c5c5c;
  box-shadow: 0px 3px 6px #5c5c5c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e08e00), color-stop(1, #784c00));
  background: -moz-linear-gradient(center top, #e08e00 5%, #784c00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e08e00', endColorstr='#784c00');
  background-color: #e08e00;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  text-indent: 0;
  display: inline-block;
  color: #f5f1d7;
  font-family: Trebuchet MS;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  height: 25px;
  line-height: 25px;
  width: 130px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #664203; }

.project-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #784c00), color-stop(1, #e08e00));
  background: -moz-linear-gradient(center top, #784c00 5%, #e08e00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#784c00', endColorstr='#e08e00');
  background-color: #784c00; }

.project-btn:active {
  position: relative;
  top: 1px; }

/***********************************
    Media Queries
***********************************/
/*
@media screen only and (min-width: 1375px) {
  .header {
    padding-bottom: $header-padding-bottom-xlarge;
  }
}

@media screen only and (max-width: 1374px) and
  (min-width: 1060px) {
  .header {
  padding-bottom: 0;
  border: 1px solid red;
  }
  }
  */

/*# sourceMappingURL=main.css.map */
